@model GroupEntity
@{
    Layout = "home-2cols";
}
@section ContentHeader{
     @Html.Action("_GroupHeader", "GroupSpaceTheme", new { spaceKey = Url.SpaceKey(), showManageButton = true })
}
@section Aside{
    @if (DIContainer.Resolve<Authorizer>().Group_View(Model))
    {
        @Html.Action("_GroupProfile", "GroupSpace", new { spaceKey = Url.SpaceKey() })
        @Html.Action("_ListMembers", "GroupSpace", new { spaceKey = Url.SpaceKey(), topNumber = 6 })
        @Html.Action("_LastGroupVisitors", "GroupSpace", new { spaceKey = Url.SpaceKey() })
        @Html.Action("_OnlineGroupMembers", "GroupSpace", new { spaceKey = Url.SpaceKey(), topNumber = 12 })
        @Html.Action("_GroupMemberAlsoJoinedGroups", "GroupSpace", new { spaceKey = Url.SpaceKey() })
        @Html.Action("_OwnerLinks", "Channel", new { ownerId = Model.GroupId, area = "Common", ownerType = OwnerTypes.Instance().Group() })
    }
}
<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-group-space">
    <div class="tn-box-content tn-widget-content tn-corner-all">
        @Html.Action("_Announcement", "GroupSpace", new { spaceKey = Url.SpaceKey() })
        @Html.Action("_GroupActivities", "GroupSpace", new { spaceKey = Url.SpaceKey() })
    </div>
</div>
