@model PagingDataSet<Journal>
@{
    JournalSearcher journalSearcher = (JournalSearcher)SearcherFactory.GetSearcher(JournalSearcher.CODE);
    string keyword = Request.QueryString.GetString("keyword", string.Empty);
}
@if (Model.TotalRecords > 0)
{
    <input type="hidden" class="totalRecords" value="@Model.TotalRecords" />
    <input type="hidden" class="queryDuration" value="@Model.QueryDuration" />
    <div class="tn-content-heading tn-border-light tn-border-bottom">
        <div class="tn-option">
            <a href="@journalSearcher.PageSearchActionUrl(keyword)">更多</a>
        </div>
        <h4>
           Journal</h4>
    </div>
    <div class="tnc-search-article">
        <ul class="tn-list">
            @foreach (Journal j in Model)
            {
                <li class="tn-list-item tn-helper-clearfix tn-border-gray tn-border-bottom">
                    <div class="tn-list-item-area-main">
                        <div class="tn-list-item-row tn-list-item-heading">
                            <h5 class="tn-helper-reset">
                                <a target="_blank" href="#">
                                @Html.Raw(SearchEngine.Highlight(keyword, j.journal, 100))</a>
                            </h5>
                        </div>
                        <div class="tn-list-item-row tn-list-item-summary">
                            <p>@Html.Raw(SearchEngine.Highlight(keyword, HtmlUtility.TrimHtml(j.jdescrip, 100), 100))</p>
                        </div>
                        <div class="tn-list-item-row tn-list-info">
                            <p>
                                <a target="_blank" href="#" class="tn-user-name">
                                @Html.Raw(SearchEngine.Highlight(keyword, j.publisher, 100))</a>
                                
                            </p>
                        </div>
                    </div>
                </li> 
            }
        </ul>
    </div>
}